@model Products.Backoffice.Models.ErrorViewModel  

<h1>Error</h1>
<p>We're sorry, but an error has occurred.</p>
<p>Status code: @Model.StatusCode</p>
<p>Original path: @Model.OriginalPath not be found.</p>
<a href='javascript:history.go(-1)' class="btn btn-primary">Back</a>
